<a href="https://colab.research.google.com/github/Tasneem3614/MSC_FDS_506/blob/main/fds%20practical%201%2026aug.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()

for row in cur.execute('select * from species;'):
  print(row)

('AB', 'Amphispiza', 'bilineata', 'Bird')
('AH', 'Ammospermophilus', 'harrisi', 'Rodent')
('AS', 'Ammodramus', 'savannarum', 'Bird')
('BA', 'Baiomys', 'taylori', 'Rodent')
('CB', 'Campylorhynchus', 'brunneicapillus', 'Bird')
('CM', 'Calamospiza', 'melanocorys', 'Bird')
('CQ', 'Callipepla', 'squamata', 'Bird')
('CS', 'Crotalus', 'scutalatus', 'Reptile')
('CT', 'Cnemidophorus', 'tigris', 'Reptile')
('CU', 'Cnemidophorus', 'uniparens', 'Reptile')
('CV', 'Crotalus', 'viridis', 'Reptile')
('DM', 'Dipodomys', 'merriami', 'Rodent')
('DO', 'Dipodomys', 'ordii', 'Rodent')
('DS', 'Dipodomys', 'spectabilis', 'Rodent')
('DX', 'Dipodomys', 'sp.', 'Rodent')
('EO', 'Eumeces', 'obsoletus', 'Reptile')
('GS', 'Gambelia', 'silus', 'Reptile')
('NL', 'Neotoma', 'albigula', 'Rodent')
('NX', 'Neotoma', 'sp.', 'Rodent')
('OL', 'Onychomys', 'leucogaster', 'Rodent')
('OT', 'Onychomys', 'torridus', 'Rodent')
('OX', 'Onychomys', 'sp.', 'Rodent')
('PB', 'Chaetodipus', 'baileyi', 'Rodent')
('PC', 'Pipilo', 'chlorurus', 'Bird')
('PE', 'Peromyscus', 'eremicus', 'Rodent')
('PF', 'Perognathus', 'flavus', 'Rodent')
('PG', 'Pooecetes', 'gramineus', 'Bird')
('PH', 'Perognathus', 'hispidus', 'Rodent')
('PI', 'Chaetodipus', 'intermedius', 'Rodent')
('PL', 'Peromyscus', 'leucopus', 'Rodent')
('PM', 'Peromyscus', 'maniculatus', 'Rodent')
('PP', 'Chaetodipus', 'penicillatus', 'Rodent')
('PU', 'Pipilo', 'fuscus', 'Bird')
('PX', 'Chaetodipus', 'sp.', 'Rodent')
('RF', 'Reithrodontomys', 'fulvescens', 'Rodent')
('RM', 'Reithrodontomys', 'megalotis', 'Rodent')
('RO', 'Reithrodontomys', 'montanus', 'Rodent')
('RX', 'Reithrodontomys', 'sp.', 'Rodent')
('SA', 'Sylvilagus', 'audubonii', 'Rabbit')
('SB', 'Spizella', 'breweri', 'Bird')
('SC', 'Sceloporus', 'clarki', 'Reptile')
('SF', 'Sigmodon', 'fulviventer', 'Rodent')
('SH', 'Sigmodon', 'hispidus', 'Rodent')
('SO', 'Sigmodon', 'ochrognathus', 'Rodent')
('SS', 'Spermophilus', 'spilosoma', 'Rodent')
('ST', 'Spermophilus', 'tereticaudus', 'Rodent')
('SU', 'Sceloporus', 'undulatus', 'Reptile')
('SX', 'Sigmodon', 'sp.', 'Rodent')
('UL', 'Lizard', 'sp.', 'Reptile')
('UP', 'Pipilo', 'sp.', 'Bird')
('UR', 'Rodent', 'sp.', 'Rodent')
('US', 'Sparrow', 'sp.', 'Bird')
('ZL', 'Zonotrichia', 'leucophrys', 'Bird')
('ZM', 'Zenaida', 'macroura', 'Bird')

In [11]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()
cur.execute('SELECT plot_id from plots WHERE plot_type="Control"')
print(cur.fetchall())
cur.execute('SELECT species FROM species WHERE taxa="Bird"')
print(cur.fetchone())
con.close()

[(2,), (4,), (8,), (11,), (12,), (14,), (17,), (22,)]
('bilineata',)

In [12]:
import pandas as pd
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
df=pd.read_sql_query("SELECT * from surveys",con)
print(df.head())
con.close()

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [14]:
from pandas import DataFrame
Cars={'Brand':['Honda Civic','Toyota corolla','Ford Focus','Audi A4'],'Price':[22000,25000,27000,35000]}
df=DataFrame(Cars,columns=['Brand','Price'])
print(df)

            Brand  Price
0     Honda Civic  22000
1  Toyota corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [15]:
import sqlite3
conn=sqlite3.connect('TestDB1.db')
c=conn.cursor()
c.execute('CREATE TABLE CARS(Brand text,Price number)')
conn.commit()
df.to_sql('CARS2',conn,if_exists='replace',index=False)
df

            Brand  Price
0     Honda Civic  22000
1  Toyota corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [16]:
c.execute('''
SELECT Brand,max(Price) from CARS2
''')

In [17]:
df=DataFrame(c.fetchall(),columns=['Brand','Price'])
df

     Brand  Price
0  Audi A4  35000

In [18]:
import pandas as pd
import os
import sqlite3 as lite
from sqlalchemy import create_engine
studentid=[1,2,3]
SName=['praju','tasneem','akhil']
LName=['khumbhar','shaikh','gangan']
Department=['VP','CEO','CFO']
Email=['prajakta@gmail.com','tasneem1@gmail.com','akhil22@gmail.com']
Degrees=zip(studentid,SName,LName,Department,Email)
columns=['studentid','SName','LName','Department','Email']
df=pd.DataFrame(data=Degrees,columns=columns)
df

   studentid    SName     LName Department               Email
0          1    praju  khumbhar         VP  prajakta@gmail.com
1          2  tasneem    shaikh        CEO  tasneem1@gmail.com
2          3    akhil    gangan        CFO   akhil22@gmail.com

In [22]:
db_filename=r'studentdata.db'
con=lite.connect(db_filename)
df.to_sql('student',
con,
schema=None,
if_exists='replace',
index=True,
index_label=None,
chunksize=None,
dtype=None)
con.close()
df_files=r'studentdata.db'
engine=create_engine(r"sqlite:///{}" .format(db_filename))
sql='SELECT * from student '

studf=pd.read_sql(sql, engine)
studf

   index  studentid    SName     LName Department               Email
0      0          1    praju  khumbhar         VP  prajakta@gmail.com
1      1          2  tasneem    shaikh        CEO  tasneem1@gmail.com
2      2          3    akhil    gangan        CFO   akhil22@gmail.com

In [23]:
state=pd.read_csv("US_violent_crime.csv")
state.head()

        State  Murder  Assault  UrbanPop  Rape
0     Alabama    13.2      236        58  21.2
1      Alaska    10.0      263        48  44.5
2     Arizona     8.1      294        80  31.0
3    Arkansas     8.8      190        50  19.5
4  California     9.0      276        91  40.6