<a href="https://colab.research.google.com/github/Tasneem3614/MSC_FDS_506/blob/main/mini%20project%20final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

     Tasneem shaikh                              506                          
          Mini project in **Descriptive Statistics**

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('emp data.csv')

In [ ]:
df

      Name     Country  Salary
0   Tasneem  Australia   54000
1  Prajakta        USA   55000
2    Karina        USA   72000
3    Faizan      Dubai   92000
4     Akhil     Brazil   70000
5    Aditya      Italy   65000
6    Roshan     Brazil   73000
7    Sabiya     Brazil   50000
8      Rida      Dubai   32000
9    Muskan      Qatar   45000

Measure of **Central** **Tendancy**

In [ ]:
# Mean Salary
mean1=df['Salary'].mean()
mean1

60800.0

In [ ]:
#Sum of Salaries
sum1=df['Salary'].sum()
sum1

608000

In [ ]:
#Maximum Salary
max1=df['Salary'].max()
max1

92000

In [ ]:
#Minimum Salary
min1=df['Salary'].min()
min1

32000

In [ ]:
#Total count
count1=df['Salary'].count()
count1

10

In [ ]:
#Median
median=df['Salary'].median()
median

60000.0

In [ ]:
#Mode
mode1=df['Salary'].mode()
mode1

0    32000
1    45000
2    50000
3    54000
4    55000
5    65000
6    70000
7    72000
8    73000
9    92000
dtype: int64

In [ ]:
countrywise_sum=df.groupby(['Country'])['Salary'].sum()
countrywise_sum

Country
Australia     54000
Brazil       193000
Dubai        124000
Italy         65000
Qatar         45000
USA          127000
Name: Salary, dtype: int64

In [ ]:
countrywise_count=df.groupby(['Country']).count()
countrywise_count

           Name   Salary
Country
Australia      1       1
Brazil         3       3
Dubai          2       2
Italy          1       1
Qatar          1       1
USA            2       2

Measure of **variability**

In [ ]:
#variance of salaries
var1=df['Salary'].var()
var1

291733333.3333333

In [ ]:
#standard deviation
std1=df['Salary'].std()
std1

17080.202965226534

Measure of **Symmetry**

In [ ]:
#Measure of Symmetry
skew1=df.skew(axis=0, skipna=True)
skew1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Salary    0.135003
dtype: float64

In [ ]:
#The skewness is positive so x will have right side tail.
df.describe()

             Salary
count     10.000000
mean   60800.000000
std    17080.202965
min    32000.000000
25%    51000.000000
50%    60000.000000
75%    71500.000000
max    92000.000000